* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

@font-face {
    font-family: Reglisse_Fill;
    src: url(../TIPOGRAFIA/Reglisse_Fill.otf);
}

.list-nav {
    font-family: Reglisse_Fill;
}

.subtitulo {
    font-family: Reglisse_Fill;
}

.texto {
    font-family: Reglisse_Fill;
}

.titulo4 {
    font-family: Reglisse_Fill;
}

@font-face {
    font-family: Reglisse;
    src: url(../TIPOGRAFIA/Reglisse.otf);
}

.titulo2 {
    font-family: Reglisse;
}

.titulo3 {
    font-family: Reglisse;
}

@font-face {
    font-family: Reglisse_Back;
    src: url(../TIPOGRAFIA/Reglisse_Back.otf);
}

.titulo {
    font-family: Reglisse_Back;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 119, 0);
    padding: 2rem;
}

.logoHeader {
    max-width: 5rem;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 100px;
    font-size: 1.5em;
    float: left;
}
.abrir-menu,
.cerrar-menu {
    display: none;
}

.body {
    background-color: rgb(8, 8, 8);
}

.contenedor-portada {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 800px;
    flex-direction: column;
}

.titulo {
    display: flex;
    justify-content: center;
    color: rgb(7, 198, 7);
    font-size: 5em;
    font-weight: 50;
}

.subtitulo {
    display: flex;
    justify-content: center;
    color: rgb(255, 119, 0);
    font-size: 2.5em;
    font-weight: 10;

}

.logo {
    display: flex;
    justify-content: right;
    height: 500px;
    padding: 100px 0px 0px 550px;
}

.titulo2 {
    color: black;
    font-size: 5em;
    font-weight: 50;
    text-shadow: 0px 3px 2px rgba(7, 198, 7);
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.contenedor-destacados {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto-img {
    width: 90%;
    height: 90%;
    border-radius: 1rem;
}

.producto-detalles {
    width: 90%;
    background-color: #008036;
    color: antiquewhite;
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.producto-ver {
    border: 0;
    background-color: #e4ebe7;
    color: #008036;
    padding: .5rem;
    text-transform: uppercase;
    border-radius: 1rem;
    cursor: pointer;
    border: 2px solid rgb(228, 223, 215);
    transition: background-color .2s, color .2s;
}

.producto-ver:hover {
    background-color: #07C607;
    color: white;
}

.nosotros {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.titulo3 {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 4em;
    font-weight: 50;
    text-shadow: 0px 3px 2px rgba(7, 198, 7);
    margin-top: 100px;
}

.txtnosotros {
    max-width: 600px;
    min-width: 200px;
    color: rgb(255, 119, 0);
    font-size: 1.5em;
    font-weight: 5;
    padding: 10px;
    text-align: center;
}

.imagenlogo {
    width: 18%;
    padding: 10px;
    border-radius: 130px 130px 130px 130px;
    -webkit-border-radius: 130px 130px 130px 130px;
    -moz-border-radius: 130px 130px 130px 130px;
    
}

.compras {
    display: grid;
    width: 100%;
    grid-template-columns: 350px 350px 350px; 
    justify-content: space-around;
    margin-top: 100px;
}

.portada {
    width: 100%;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    margin-top: 25px;
    text-align: center;
    transition: all 400ms ease;
    cursor: default;
    background: #07C607;
}

.portada:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-3%);
}

.portada img{
    width: 100%;
    height: 300px;
}

.portada .contenido{
    padding: 10px;
    text-align: center;
}

.portada .contenido h3{
    font-weight: 400;
    margin-bottom: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.portada .contenido a{
    display: inline-block;
    padding: 8px;
    border-radius: 4px;
    transition: all 400ms ease;
    margin-top: 10px;
}

.portada .contenido a:hover{
    background: #105D33;
    color: #fff;
}

.contacto {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 50px;
    margin-top: 100px;
}

.contactform {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
    
}

.contactform input {
    width: 300px;
    height: 30px;
    text-align: center;
    border-radius: 20px;
    background-color: #FFDD00;
    border: 3px solid #008036;
}

.contactform textarea {
    width: 300px;
    height: 80px;
    border-radius: 20px;
    background-color: #FFDD00;
    border: 3px solid #008036;
    text-align: center;
}

.contactform button {
    width: 300px;
    height: 30px;
    border-radius: 20px;
    background-color: #FFDD00;
    border: 3px solid #008036;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}


.pie-pagina{
    width: 100%;
    background-color:rgb(255, 119, 0);
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 90px;
    padding: 10px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 130px;
}
.pie-pagina .grupo-1 .box h2{
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    color: #000C14;
    background-color: transparent;
    text-align: center;
    transition: all 300ms ease;
    cursor: pointer;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: black;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}




@media screen and (max-width: 800px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 2rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: black;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(255, 119, 0);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: black;
    }
}

@media (max-width: 1024px) {
    .list-nav {
        width: 18px;
        justify-content: center;
        font-size: 1.2em;
        gap: 15px;
    }
}

@media (max-width: 1024px) {
    .contenedor-portada {
        width: 68vh;
        height: 500px;
    }
}

@media (max-width: 1024px) {
    .wave {
        width: 68vh;
        top: 430px;
    }
}

@media (max-width: 1024px) {
    .circulo {
        width: 15%;
        position: relative;
        left: 100px;
        top: 25px;
    }
}

@media (max-width: 1024px) {
    .titulo {
        font-size: 3em;
        justify-content: center;
        font-weight: 25;
    }
}

@media (max-width: 1024px) {
    .subtitulo {
        font-size: 1em;
        justify-content: center;
        font-weight: 15;
    }
}

@media (max-width: 1024px) {
    .titulo2 {
        font-size: 2em;
        justify-content: center;
        font-weight: 25;
    }
}

@media (max-width: 1024px) {
    .destacados {
        width: 10px;
        display: grid;
        grid-template-columns: 50px 50px;
        grid-template-rows: 2fr 2fr;
        gap: 0.8px 80px;
    }
}

@media (max-width: 1024px) {
    .card {
        width: 120px;
    }
}

@media (max-width: 1024px) {
    .card img{
        width: 110px;
        height: 100px;
    }
}

@media (max-width: 1024px) {
    .card .contenido{
        width: 100px;
        height: 100px;
        padding: 1px;
        justify-content: center;
    }
}

@media (max-width: 1024px) {
    .card .contenido h3{
        font-weight: 100;
        font-size: 0.5em;
    }
}

@media (max-width: 1024px) {
    .card .contenido p{
        font-weight: 100;
        font-size: 0.5em;
    }
}

@media (max-width: 1024px) {
    .card .contenido a{
        font-weight: 100;
        font-size: 0.5em;
        padding: 5px;
    }
}

@media (max-width: 1024px) {
    .titulo3 {
        font-size: 1.6em;
        justify-content: center;
        font-weight: 10;
    }
}

@media (max-width: 1024px) {
    .nosotros{
        
        justify-content: baseline;
    }
}

@media (max-width: 1024px) {
    .txtnosotros{
        font-size: 0.5em;
    }
}

@media (max-width: 1024px) {
    .compras {
        display: grid;
        grid-template-columns: 200px;
        grid-template-rows: 2fr 2fr 2fr;
        gap: 0.5px 80px;
    }
}

@media screen and (max-width: 800px) {
    .contacto {
        width: 400px;
        height: 200px;
    }
}

@media screen and (max-width: 800px) {
    .logocontact {
        width: 40%;
        height: 60%;
    }
}

@media screen and (max-width: 800px) {
    .contactform {
        width: 10px;
        align-items: flex-end;
        justify-items: center;
    }
}

@media screen and (max-width: 800px) {
    .contactform input {
        width: 100px;
    }
}

@media screen and (max-width: 800px) {
    .contactform textarea {
        width: 100px;
        height: 50px;
    }
}

@media screen and (max-width: 800px) {
    .contactform button {
        width: 100px;
        height: 50px;
    }
}

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}











